<p>Schema 学習中 SP ビジュアル</p>

{% if section.settings.html != blank %}
    <div class="">
        {{ section.settings.html }}
    </div>
{% endif %}

{% if section.settings.liquid != blank %}
    <div class="">
        {{ section.settings.liquid }}
    </div>
{% endif %}

{% if template == "index" %}
    <p>Indexのテンプレート</p>
{% endif %}

<div class="color{{ section.settings.color_scheme }}">
<p class="test">テスト中です</p>
</div>

{% if section.settings.image_picker != blank %}
    {{ section.settings.image_picker |  image_url: width: 500 |  image_tag }}
{% endif %}

{% if section.settings.video != blank %}
    {{ section.settings.video | video_tag: controls: true, autoplay: true, loop: true, muted: true, width: 400, height: 500 }}
{% else %}
    <p>ビデオが選択されていません</p>
{% endif %}

ID: {{ section.settings.video_url.id }}<br>
Type: {{ section.settings.video_url.type }}<br>

{% if section.settings.video_url.type == "youtube" %}
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
{% endif %}

{% if section.settings.metaobject != blank %}
    <h2>店舗</h2>
    {% assign shop = section.settings.metaobject %}
    <div class="">
      <!-- {{ shop.image | image_url: width: 500 | image_tag }} -->
        <p>店舗名{{ shop.name }}</p>
        <p>店舗住所{{ shop.address }}</p>
    </div>
{% endif %}

{% if section.settings.metaobject_list != blank %}
    <h2>店舗一覧</h2>
    {% assign shops = section.settings.metaobject_list %}
    {% for shopInfo in shops %}
        <div class="">
          <!-- {{ shopInfo.image | image_url: width: 500 | image_tag }} -->
            <p>店舗名{{ shopInfo.name }}</p>
            <p>店舗住所{{ shopInfo.address }}</p>
        </div>
    {% endfor %}
{% endif %}

<style>
    .test {
        color: {{ section.settings.color }};
        padding: 20px;
        background: {{ section.settings.color_background }};
        font-family: {{ section.settings.font_picker.family }};
    }
</style>

{% schema %}
  {
    "name": "Schema学習中 SP ビジュアル",
    "tag": "section",
    "class": "schema",
    "settings": [
        {
            "type": "color",
            "id": "color",
            "label": "カラー",
            "default": "#000000",
            "info": "カラーを選択してください",
        },
        {
            "type": "color_background",
            "id": "color_background",
            "label": "背景カラー",
            "default": "linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%)",
            "info": "背景カラーを選択してください"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "scheme1",
            "label": "カラースキーム",
            "info": "カラースキームを選択してください"
        },
        {
            "type": "font_picker",
            "id": "font_picker",
            "label": "フォント",
            "default": "helvetica_n4",
            "info": "フォントを選択してください"
        },
        {
            "type": "image_picker",
            "id": "image_picker",
            "label": "画像",
            "info": "画像を選択してください"
        },
        {
            "type": "video",
            "id": "video",
            "label": "ビデオ",
            "info": "ビデオを選択してください"
        },
        {
            "type": "video_url",
            "id": "video_url",
            "label": "Youtube",
            "accept": [
                "youtube"
            ]
        },
        {
            "type": "html",
            "id": "html",
            "label": "HTML",
            "info": "HTMLを入力してください"
        },
        {
            "type": "liquid",
            "id": "liquid",
            "label": "Liquid",
            "info": "Liquidを入力してください"
        },
        // メタオブジェクトを設定して呼び出せる
        {
            "type": "metaobject",
            "id": "metaobject",
            "label": "メタオブジェクト-店舗",
            "metaobject_type": "shop"
        },
        {
            "type": "metaobject_list",
            "id": "metaobject_list",
            "label": "メタオブジェクト-店舗リスト",
            "metaobject_type": "shop",
            "limit": 2
        }
    ],
    "presets": [
      {
        "name": "Schema学習中 SP ビジュアル"
      }
    ]
  }
{% endschema %}